#div_amis {
    height: 74.6vh;
}

#div_add_friend {
    display: inline;
}

.amis-avatar {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    float: left;
}
