.item_notif {
    float: right;
    cursor: pointer;
}

.item_notif i{
    font-size: 1.8rem;
    display: inline;
}

.accepter-amis-btn {
    color: green;
}

.refuser-amis-btn {
    color: red;
}

.accepter-shared-btn {
    color: green;
}

.refuser-shared-btn {
    color: red;
}

#list_notif a{
    font-size: 1.2em;
}

#list_notif h6 {
    font-size: 1.3em;
}
/* item <a> au clic */
#a_item_notif:active {
    background-color: transparent;
}

.item_notif form{
    display: inline;
}

#list_notif {
    left: -4em;
}

.navtitle:hover {
    opacity: 0.6;
}

