#footer {
    background-color: #385d7a;
    width: 100%;
    height: 10%;
    text-align: center;
    bottom: 0;
    position: absolute;
}

#footer p {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between
}

.colonne {
    width: calc(50% - 20px)
}

.parafooter{
    margin: 0px;
    font-size: x-small;
}

.titrefooter{
    margin: 2px;
}