#footer {
    background-color: #385d7a;
    width: 100%;
    height: 10%;
    text-align: center;
    bottom: 0;
    position: absolute;
}

#footer p {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between
}

.Adresse {
    display: inline-block;
    
}

.parafooter{
    margin: 0px;
    font-size: x-small;
    font-size: 1rem;
    color: white;
    vertical-align: 22%;
}
.Formulaire_contact{
    font-size: 1rem;
   
    text-align: center;
    vertical-align: 28%;
}

.titrefooter{
    margin: 2px;
    font-size: 1rem;
}