#footer {
    background-color: #385d7a;
    width: 100%;
    height: 10vh;
    text-align: center;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden ;
}

#footer p {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between
}

.Adresse {
    display: inline-block;
}

.parafooter{
    margin: 0px;
    font-size: x-small;
    font-size: 0.8rem;
    color: white;
    vertical-align: 22%;
}
.Formulaire_contact{
    font-size: 0.8rem;
    text-align: center;
    vertical-align: 28%;
}

.titrefooter{
    margin: 2px;
    font-size: 1rem;
}

.col_foot {
    height: 10px;
    position: relative;
}
