.custom-control-label {
    user-select:none;
}

#header a {
    margin-right: 35px;
    font-size: 1.7em;
}

#icon_notif {
    user-select:none;
    font-size: 3.5rem;
    color: black;
    margin-top: -8px;
    padding-bottom: 0;
}

#icon_notif:hover {
    cursor: pointer;
    opacity: 0.6;
}

#navbarDropdown {
    font-size: 1.2rem;
    color: #1b1e21;
    font-weight: 500;
  }

#img-profile {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 55px;
    height: 55px;
}

#img-profile:hover {
    cursor: pointer;
}

.div_header_link:hover {
    opacity: 0.2;
}

#theme {
    user-select: none;
    margin: auto;
}

#theme:hover {
    cursor: pointer;
    opacity: 0.6;
}
.icone_darktheme {
    font-size: 2.6rem;
}
