#divcontain_home {
    height: 82.2vh;
    background-color: white;
    width: 60%;
    border-radius: 12px;
    margin-top: 0.5em;
}

#home_liste_todo {
    width: 30em;
    margin-top: 3em;
}

#bonjour_txt {
    font-size: 2em;
}


#titre_todolist_acceuil{
    font-size: 2rem;
}
#header_todo_acceuil{
    background-color: gray;
}

.Text_todo_acceuil{
    font-size: 2rem;
    margin: auto;
}

.ajout_todo{
    float: right;
    margin-top: 10px;
}

.item_todolist_acceuil{
    display: inline-block;
    border-bottom: 0.5px solid #EAE5E5;
}
.item:hover {
    background-color: #F3F3F2;
    cursor: pointer;
}
.Delete_todolist{
    float:right;
    margin-top:5px;
}