table, td {
    border: 1px solid #333;
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    width: 70%;
}

thead{
    background-color: #333;
    color: #fff;
}

#left_menu{
    width: 16%;
    height: 92.5vh;
    position: absolute;
    padding-left: 0;
    margin-left: 0px;
    border-right: 1px solid #f1f1f1;
    background-color: #F2F2F2;
}

.item{
    border-bottom: 1px solid #EAE5E5;
    padding-left: 13px;
}

.item p{
    height: 15px;
    font-size: 20px;
    margin:auto;
}

#btn-create{
    float: right;
    font-size: 2.5rem;
}

#btn-create:hover {
    cursor: pointer;
}

#Affichage_todolists{
    width: 500px;
}

.item:hover {
    background-color: white;
    cursor: pointer;
}

#todolist {
    margin-left: 16%;
    height: 92.5vh;
    visibility: hidden;
    background-color: #761b18;
}

.selected {
    background-color: #D8F6F1;
}

/*========================
     Ajout d'une tache
========================*/

/* Bouton + add task */
#btn-task {
    font-size: 2rem;
}

#btn-task:hover {
    cursor: pointer;
}

#partage{
    visibility: hidden;
    position: absolute;
    width: 800px;
}

#Titre_todolist{
    font-size: 2.5rem;
    font-weight: bold;
}

#Administration_Todolist i{
    font-size: 2.5rem;
    margin-top: 0.2em;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

#Administration_Todolist{
    height: 8vh;
    background-color: #1d643b;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.1em;
}


#Partager_todo{
    float:right;
    margin-top: 12px;
    margin-right: 5px;
    font-size: 2.5rem;
}

#Delete_Todo{
    float:right;
    margin-top: 12px;
    font-size: 2.5rem;
}

#Rename_Todo{
    margin-top: 12px;
    margin-left: 2px;
    font-size: 2.5rem;
    vertical-align: -12%;
}

/* Div partage todolist */
#Valider_partage{
    text-align: center;
    margin-top: 2.2em;
    margin-bottom: 0.8em;
}

#Share_Todolist{
    margin: 0;
}

#Titre_sharetodolist{
    width: 370px;
}

.card-header{
    font-size: 2rem;
}

#Close_Partage{
    float:right;
    float: top;
}

#div_form_share {
    margin-top: 1.2em;
}

#div_form_share>p, #div_form_share>input, #div_form_share>.div_radio{
    display: inline;
    position: relative;
}

#div_form_share button {
    margin-right: 2em;
    margin-left: 1em;
}

#div_form_share p {
    margin-right: 1em;
    font-size: 1.7rem;
    height: 3em;
}

#div_form_share label {
    margin-right: 1em;
    font-size: 1rem;
}

#div_form_share input {
    margin-left: 1em;
}

.text-todolist_share_window {
    margin-top: 0.8em;
    text-align: center;
    color: #1b4b72;
    font-weight: lighter;
    font-size: 1.2em;
}

#partage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    margin-bottom: -5em;
}

/*Changer nom de la Todolist*/
#Changer_nom_user{
    float: left;
    margin-top: 1.4em;
}

#Changer_nom {
    float: left;
    position: absolute;
    margin-top: -3em;
    margin-left: 15em;
}

