table, td {
    border: 1px solid #333;
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    width: 70%;
}

thead{
    background-color: #333;
    color: #fff;
}

#left_menu{
    width: 16%;
    height: 92.5vh;
    position: absolute;
    padding-left: 0;
    margin-left: 0px;
    border-right: 1px solid #f1f1f1;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
    overflow-x: hidden;
    overflow-y: scroll;
}

#left_menu::-webkit-scrollbar {
    display: none;
}

.item{
    border-bottom: 1px solid #EAE5E5;
    padding-left: 13px;
}

.item p{
    height: 15px;
    font-size: 20px;
    margin:auto;
    white-space: nowrap;
}

#btn-create{
    float: right;
    font-size: 2.5rem;
}

#btn-create:hover {
    cursor: pointer;
}

#Affichage_todolists{
    width: 500px;
}

.item:hover {
    background-color: white;
    cursor: pointer;
}

#todolist {
    margin-left: 16%;
    height: 92.5vh;
    visibility: hidden;
}

.selected {
    background-color: #D8F6F1;
}

/*========================
     Ajout d'une tache
========================*/

/* Bouton + add task */
#btn-task {
    font-size: 2rem;
}

#btn-task:hover {
    cursor: pointer;
}

#partage{
    visibility: hidden;
    position: absolute;
    width: 800px;
}

#Titre_todolist{
    font-size: 2.5rem;
    font-weight: bold;
}

#Administration_Todolist i{
    font-size: 2.5rem;
    margin-top: 0.2em;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

#Administration_Todolist{
    height: 8vh;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.1em;
}


#Partager_todo{
    float:right;
    margin-top: 12px;
    margin-right: 5px;
    font-size: 2.5rem;
}

#Delete_Todo{
    float:right;
    margin-top: 12px;
    font-size: 2.5rem;
}

#Rename_Todo{
    margin-top: 12px;
    margin-left: 2px;
    font-size: 2.5rem;
    vertical-align: -12%;
}

/* Div partage todolist */
#Valider_partage{
    text-align: center;
    margin-top: 2.2em;
    margin-bottom: 0.8em;
}

#Share_Todolist{
    margin: 0;
}

#Titre_sharetodolist{
    width: 370px;
}

.card-header{
    font-size: 2rem;
}

#Close_Partage{
    float:right;
    float: top;
}

#div_form_share {
    margin-top: 1.2em;
}

#div_form_share>p, #div_form_share>input, #div_form_share>.div_radio{
    display: inline;
    position: relative;
}

#div_form_share button {
    margin-right: 2em;
    margin-left: 1em;
}

#div_form_share p {
    margin-right: 1em;
    font-size: 1.7rem;
    height: 3em;
}

#div_form_share label {
    margin-right: 1em;
    font-size: 1rem;
}

#div_form_share input {
    margin-left: 1em;
}

.text-todolist_share_window {
    margin-top: 0.8em;
    text-align: center;
    color: #1b4b72;
    font-weight: lighter;
    font-size: 1.2em;
}

#partage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    margin-bottom: -5em;
}

/*Changer nom de la Todolist*/
#Changer_nom_user{
    float: left;
    margin-top: 1.4em;
}

#Changer_nom {
    float: left;
    position: absolute;
    margin-top: -3.59em;
    margin-left: 13em;
}

.task_title{
    margin-bottom: 10px;
    font-size: 2.5rem;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
    margin-left: 1.5%;
}

.delete_task{
    margin-top: -4.4em;
    float: right;
    height: 4em;
}

.delete_task:hover{
    background-color: #6C6C6C;
    color: white;
}

.btn_delete_task {
    font-size: 4em;
    height: available;
}

.todolist_element{
    font-size: 1.5rem;
}

#todo_container {
    background-color: white;
    overflow-y: scroll;
    height: 84.5vh;
}

.task_todo {
    margin-left: 1.5%;
    height: 4em;
    width: 98.5%;
    border-bottom: 0.5px solid #EAE5E5;
    padding-top: 10px;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.task_todo:hover {
    background-color: #F3F3F2;
    cursor: pointer;
}

.task_todo p{
    margin-left: 1em;
}

#content_task {
    margin-left: 1em;
    margin-right: 2em;
    width: 65%;
}

#form_create {
    margin-bottom: auto;
    vertical-align: center;
}

.create_task {
    display: inline-block;
}

.Bouton_todolist{
    float: right;
    margin-top: -2.6em;
    margin-right: 8px
}

.validate_tasks{
    margin-left: 5px;
    margin-right: 5px;
}
