/* Div Principale */
#div-profil {
    background-color: white;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 65%;
    height: 85vh;
    border-radius: 12px;
}

/* Image du profil */
#image-profile {
    height: 15em;
    margin-top: 5em;
}

#div-img {
    text-align: center;
}

/* Pseudo */
#pseudo-lign {
    margin-top: 5.6em;
}

.lign {
    display: inline;
}

#pseudo {
    font-size: 3.2rem;
    margin-left: 4px;
}

#pseudo-lign p {
    color: #5a6268;
    font-size: 1.4rem;
}

.p-blue {
    color: #1d68a7;
    font-size: 1.6em;
}

/* Boutons */

#div-btn {
    display: inline;
    float: right;
    margin-top: 2em;
    margin-right: 1em;
}

/* Bloc informations */

#info hr {
    border-top: 1.2px solid darkgrey;
    width: 25rem;
    margin-left: -12px;
    margin-top: -1px;
}

#div-info {
    margin-top: 35px;
    font-size: 1.5em;
}

.categorie {
    color: #1d68a7;
}

#Update_Profil{
    margin: 5px;
}

.Update_Profil{
    margin: 3px;
}

/* Div changer d'avatar */

#select_avatar {
    text-align: center;
    margin-top: 3em;
    font-size: 1.45em;
}

#select_avatar input {
    margin-top: 30px;
}

.input-group{
    font-size: 1rem;
}
.custom-file{
     flex-flow: row wrap;
}
